*{
    margin: 0;
    padding: 0;
}
#carouselExampleCaptions img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
h3{
    display: flex;
    justify-content: center;
    margin: 5rem;
}
nav{
    margin-bottom: 0.5rem;
}
#rowCard{
    margin-bottom: 5rem;
}
.card-text{
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 3; 
        overflow: hidden;
}

.card-img-top{
    height: 250px;
    object-fit: cover;
}

#imgGalley:hover{
    cursor: pointer;
}

#btn-card{
    margin: 1rem 4rem;
}

#searchD{
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
}

.img-fluid{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;
}
.img-fluid:hover{
    opacity: 0.5;
}
.row-form{
    display: flex;
    justify-content: center;
}
#searchForm{
    width: 40rem;
}

#lista{
    margin-right: 10rem;
    margin-bottom: 2rem;
    display: none;
}
#lista, ul{
}